@import "tailwindcss";

*{
  transition: all 0.3s ease;
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

@keyframes loader-spin {
  0%,
  100% {
    box-shadow: 0.2em 0 0 0 currentColor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentColor;
  }
  25% {
    box-shadow: 0 0.2em 0 0 currentColor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentColor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentColor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentColor;
  }
  75% {
    box-shadow: 0 -0.2em 0 0 currentColor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentColor;
  }
}